/* ! just a little bit of  css styles */

/* ! styling for one single-task */
body{
    background: linear-gradient(45deg,lightcoral,lightblue);
}
.single-task{
    display: flex;
    margin:3rem auto;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    height:2rem;
    text-transform: capitalize;
    background: linear-gradient(45deg,orange,lightblue);
    border-radius: 30px;
}

/* ! form title styles */

.form-title{
    margin-top: 3rem;
}

/* ! styling for total tasks */

h1 span{
    text-transform: capitalize;
    color:darkslategray;
}
.single-task h2{
    
    color:black;
    font-size: 1.7rem;
}

.single-task span{
    margin-left: 1rem;
}

.single-task button{
    border-radius: 30px;
    transition: 0.3s linear all;
}
.single-task button:hover{
    scale:1.7;
    background: linear-gradient(45deg,orange,lightblue);
    cursor: pointer;
    rotate: 360deg;
}

input{
    font-size: 1.5rem;
    border:4px solid black;
    border-radius: 20px;
    padding-left: 1rem;
}

label{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 20px;
}

button{
    font-size: 1.5rem;
    letter-spacing: 3px;
    transition: 0.2s all linear;
    border-radius: 20px;
    padding:0 1rem;
}
button:hover{
    cursor: pointer;
    background-color:aquamarine;
    scale: 1.2;
}



.single-task span{
    font-size: 1.5rem;
    font-weight: bold;
}

.single-task button{
    align-self: center;
    font-size: 1.5rem;
}


.tasks-list{
    border:1px solid black;
    overflow: auto;
    max-height: 30rem;
    max-width: 80rem;
    margin: 0 auto;
    background: linear-gradient(45deg,red,lightblue);

}